.navbar {
	color: #6bc1ff92;
	font-weight: 600;
	background-color: white;
}


.nav-link:hover {
	color:#ffd195;
}

.btn-login {
	background-color: #ffd195;
}

.btn-login:hover {
	background-color: #d69a3a;
}